<!-- <div class="row animated fadeIn ">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">---</h6>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" disabled name="nombre" required class="form-control" id="exampleInputuname" placeholder="Usuario" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" disabled name="email" required class="form-control" id="exampleInputEmail1" placeholder="Ingrese email" type="email">
                        </div>
                    </div>


                    <button type="submit"  class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i>Guardar</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5" *ngIf=false>
        <div class="card" align="center">
            <div class="card-body">
                <h4 class="card-title">Fotografia del usuario</h4>
                <h6 class="card-subtitle">---</h6>
                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150" />
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150" />
                <input type="file" (change)="seleccionImagen($event.target.files[0])" />
                <hr>
                <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i>Actualizar foto <i class="fas fa-football-ball    "></i></button>
            </div>
        </div>
    </div>

</div> -->
