<div class="row">
  <div class="col-12">
    <app-loader *ngIf="cargando"></app-loader>
  </div>  
</div>
<div *ngIf="!cargando">
<div class="row">
  <div class="col-10">
    <h4>Aplica para los siguientes movimientos</h4>
  </div>
  <div class="col-1">
    <button (click)="verPdf()" type="button" class="btn btn-danger btn-circle btn-md"><i class="fa  fa-file-pdf-o"></i>    
    </button>    
  </div>
  <div class="col-1">
    <button (click)="exportarExcel()" type="button" class="btn btn-success btn-circle btn-md"><i class="fa  fa-file-excel-o"></i></button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive tableFixHead">
          <table class="table color-table dark-table ">
            <thead>
              <tr>                
                <th>#ContraRecibo</th>
                <!-- <th>#Entrada</th> -->
                <th>Factura</th>
                <th>Fecha</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movimiento of _pago.detalle" 
              [ngClass]="movimientoFiltrado(movimiento)"
              >                
                <td>{{movimiento.numeroCR}} </td>
                <!-- <td>{{movimiento.numE}} </td> -->
                <td>{{movimiento.factura}} </td>
                <td>{{movimiento.fechaEmision | date:'dd-MM-yyyy'}}</td>
                <td>{{movimiento.importe | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">

  <div class="col-5">
    <h4 class="text-themecolor pull-right" >#Facturas: {{ _pago.detalle.length }}</h4>
  </div>
  <div class="col-5">
    <h4 class="text-themecolor pull-right">Total :{{ _pago.importe | currency}}</h4>
  </div>
</div>
</div>