

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<!-- particles.js container -->
<!-- <div id="particles-js"></div>  -->



<section [id]="esMesNavidenio?'':'particles-js'"   [style.background-image]="fondo" class="login-register login-sidebar">

    <app-snow-effect *ngIf="esMesNavidenio"></app-snow-effect>

    <div class="bg-overlay"></div>
    <h1 id="nameSystem">PORTAL DE <br> PROVEEDORES</h1>
    <div class="login-box card">
        <div class="card-body">
            <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" id="loginform" action="index.html"
                (ngSubmit)="ingresar(f)">
                <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo_b.png"
                        alt="Home" /><br />
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="usuario.usuario" autocomplete="off" name="usuario"
                            type="text" required placeholder="Clave de proveedor ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="usuario.password" name="password" type="password"
                            required placeholder="contraseña">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                            type="submit">Ingresar</button>
                    </div>
                </div>                                
            </form>            
        </div>
        <div class="b-0">              
            <div class="row">
                <div class="col" >
                    <button class="btn btn-block btn-secondary  waves-effect waves-light "  (click)="irAvisoPrivacidad()"
                        type="button">Aviso de privacidad</button>
                </div>

            </div>
        </div>    
    </div>
    
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->