<div class="row">  
  <div class="col-10"></div>
  <div class="col-2">
    <button   (click)="pdfDetalle()" type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa  fa-file-pdf-o"></i> </button>
  </div>

  
    
</div>
<div class="row"  >    
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table  table-detalle color-bordered-table inverse-bordered-table">
              <thead>
                <tr>
                  <th>Folio</th>
                  <th>Referencia</th>
                  <th>Emision</th>                  
                  <th>Vencimiento</th>
                  <th>Total</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movimiento of _movimientos">
                  <td>{{movimiento.folio}} </td>
                  <td>{{movimiento.referencia}}</td>
                  <td>{{movimiento.fechaEmision | date:'dd-MM-yyyy'}}</td>
                  <td>{{movimiento.fechaVencimiento | date:'dd-MM-yyyy'}}</td>
                  <td>{{movimiento.saldo | currency}}</td>
                </tr>                
            </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>      
  </div>