<app-loader *ngIf="cargando"></app-loader>
<div id="coverScreen"  class="editando" *ngIf="editando">
  
    <div class="col-12 d-flex justify-content-center">
        <div class="spinner-border text-themecolor" role="status">    
        </div>    
    </div>

</div>
<div *ngIf="!cargando">
<div class="row">
  <div class="col-10">
  <h4>{{_comunicadoService.asignacion.titulo}}</h4>
  </div>
  <div class="col-2">
    <a type="button" routerLink="/comunicados" class="btn btn-xs  btn-outline-info btn-rounded m-b-10"><i class="fa fa-chevron-left"></i> Regresar</a>
  </div>
</div>
  <div class="row">  
    <div class="col-12">
      <ejs-grid #grid id="grid" height='350' [dataSource]="proveedorAsignados"
       allowReordering='true' 
       allowSelection="false"
        [selectionSettings]="selectOptions" 
        (created)="created($event)"
         [editSettings]='editSettings'
          allowPaging="true"
        allowFiltering="true" 
        [filterSettings]='filterSettings'
         allowSorting="true"
        allowResizing='true'
        [pageSettings]="pageSettings" (actionComplete)="actionComplete($event)">
        <e-columns>
          <e-column field="proveedor" width="30" headerText="# Proveedor"></e-column>
          <e-column field="rfc" width="30" headerText="RFC"> </e-column>
          <e-column field="nombre" width="150" headerText="Nombre"></e-column>          
          <e-column field="asignado" width="30" [allowFiltering]="false" headerText="Asignado" >
             <ng-template #template let-data>
            <div>              
              <ejs-checkbox               
              cssClass="e-custom" [(ngModel)]="data.asignado"
                 (change)="cambiarAsignacion(data)"></ejs-checkbox> 
               
            </div>
          </ng-template>
          </e-column>
          
        </e-columns>
      </ejs-grid>
      <hr>
      
    </div>
  </div>
</div>

