<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <!-- <div  style=" position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;">
                    <div class="col-sm-12 text-center">
                        
                        
                            <div class="d-flex flex-row justify-content-center ">
                                <p class="font-bold m-1">Para cualquier duda o aclaración puede comunicarse con: </p>
                                <p class="m-1">Diana Sarmiento 2122-5600, ext. 213 <br><a href="mailto:cxp@litoprocess.com"
                                    class="text-info"><b><i
                                            class="mdi mdi-email-outline"></i>cxp@litoprocess.com</b></a></p>
                            <p>Auxiliar CxP 2122-5600, ext. 217 <br><a href="mailto:contabilidad@litoprocess.com"
                                    class="text-info"><b><i
                                            class="mdi mdi-email-outline"></i>contabilidad@litoprocess.com</b></a></p>
                            </div>
                            
                        
                        

                    </div>

                  


                </div> -->
            <ul id="sidebarnav">
                
                <li class="user-profile">
                    <a class="has-arrow waves-effect " href="#" aria-expanded="false"><img src="assets/images/users/av-6.png" alt="user" />
                        <span class="hide-menu">{{_usuarioService.usuario.RFC}} </span>
                    </a>                    
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/perfil">Mi perfil </a></li>                        
                        <li><a routerLinkActive="active" routerLink="/account-settings">Settings</a></li>
                        <li><a routerLink="" (click)="_usuarioService.logout()" class="pointer">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="user-profile active">
                    <a class="waves-effect  " target="_blank" href="assets/manual/ManualV1-2.pdf" aria-expanded="false">
                        <i class="fa  fa-file-pdf-o"></i>
                        <span class="hide-menu">Manual de usuario </span>
                    </a>                    
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap"></li>
                <li *ngFor="let menu of menu$ |  async"  routerLinkActive="active" >                    
                    <a class="waves-effect waves-dark"    [routerLink]="menu.url">
                        <i [class]="menu.icono" ></i>
                        <span class="hide-menu" style="font-size: 11px" >{{menu.titulo}}                            
                        </span>
                    </a>                    
                </li>
                <li class="user-profile hide-menu " style=" position: absolute;bottom: 0;">
                    <h4 class="ml-2  font-bold">Contacto</h4>
                    <a class="waves-effect  "  href="#" style="cursor: none;" aria-expanded="false">                        
                        <span  class="font-bold" style="font-weight: 600;color: black;">Diana Sarmiento </span>
                        <div  >2122-5600 ext.213</div>
                        <span  class="text-muted" >cxp@litoprocess.com  </span>
                    </a>                        
                    <a class="waves-effect  " style="cursor: none;"  href="#" aria-expanded="false">                        
                        <span  class="font-bold" style="font-weight: 600;color: black;">Auxiliar CxP </span>
                        <div  >2122-5600 ext.217</div>
                        <span  >
                         <label class="text-muted">contabilidad@litoprocess.com </label>   
                         </span>
                    </a>                        
                    
                </li>
                
            </ul>
        </nav>



       
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
