<app-loader *ngIf="cargando"></app-loader>

<div *ngIf="!_usuarioService.usuario.PuedeGenerarContraRecibo && !cargando ">
  <div class="alert avisoCP">
    <h3 class="text-warning"><i class="fa fa-exclamation-circle"></i> Importante</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <p>No se puede generar contra-recibos debido a que tiene complemento de pago pendientes.</p>
        </div>
        <div class="col-md-2">
          <button (click)="irPagosAprobados()" class="btn btn-warning btn-xs">Ver detalle</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tieneRequerimientoOpinionCumplimiento  && !cargando">
  <div class="alert avisoCP">
    <h3 class="text-warning"><i class="fa fa-exclamation-circle"></i> Importante</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <p>No puede generar contra-recibos debido a que tiene que anexar la <b>Opinión de cumplimiento</b> emitida por el SAT.</p>
        </div>
        <div class="col-md-2">
          <button (click)="irPerfil()" class="btn btn-warning btn-xs">Subir documento</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_usuarioService.usuario.PuedeGenerarContraRecibo && !tieneRequerimientoOpinionCumplimiento">  
  <div class="registroContrarecibo" *ngIf="(movimientos | numFacturasCR) >0 && !cargando">
    <div class="card " id="contenedorContraRecibo">
      <div class="card-body" style="padding:0 1.2rem"       
      >
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center" style="float:left">
            <h6 class="text-muted m-t-10 m-b-0 "># Facturas</h6>
            <h2 class="m-t-1 "> {{movimientos | numFacturasCR }} </h2>
          </div>
          <div style="float:left;">
            <h6 class="text-muted m-t-10 m-b-0 ">Total seleccionado </h6>
            <h2 *ngIf="monedasUnicas" class="m-t-0">{{movimientos | totalSaldoCR | currency}} </h2>
            <i *ngIf="!monedasUnicas " class="m-t-0 fa fa-exclamation text-danger fa-2x"> </i>
          </div>
          <div>
            <div style="float:left">

              <button class="btn btn-block btn-outline btn-secondary m-t-30 m-l-30 font-14 " *ngIf="monedasUnicas"
                (click)="generarContraRecibo()">Generar contra-recibo </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    
    <ejs-grid #grid id="grid" 
      height="300"
    (dataBound)='dataBound()'
     (created)="created($event)" (rowSelected)='rowSelected($event)'
      [dataSource]="movimientos" allowReordering='true' allowSelection="false" [selectionSettings]="selectOptions"
      [editSettings]='editSettings' allowPaging="true" [allowFiltering]="true" [filterSettings]='filterSettings'
      allowSorting="true" allowResizing='true' [pageSettings]="pageSettings" (actionComplete)="actionComplete($event)">
      <e-columns>
        <!-- <e-column field="movimientoID" headerText="ID" width=50></e-column> -->
        <e-column field="movimientoDescripcion" headerText="Tipo" width=55></e-column>
        <e-column field="folio" headerText='Folio' width=30>
        </e-column>
        <e-column field="referencia" headerText="Factura" width=35>
        </e-column>
        <e-column field="fechaEmision" [filter]='filterMenu' headerText="Emisión"         
        width=70>
        <ng-template #template let-data>
          {{data.fechaEmision | fecha}}
        </ng-template>
          <ng-template #filterTemplate let-data>
            <ejs-daterangepicker format='dd-MMM-yyyy' placeholder="Elija la fecha" [(ngModel)]="fechaEmisionFilter"
              (change)="cambioFechaEmision($event)">
              <e-presets>
                <e-preset label="Esta semana" [start]='fecha.weekStart' [end]='fecha.weekEnd'></e-preset>
                <e-preset label="Este mes" [start]='fecha.monthStart' [end]='fecha.monthEnd'></e-preset>
                <e-preset label="Anterior mes" [start]='fecha.lastStart' [end]='fecha.lastEnd'></e-preset>
              </e-presets>
            </ejs-daterangepicker>
          </ng-template>
        </e-column>
        <!-- <e-column field="fechaVencimiento" [filter]='filterMenu' headerText="Vencimiento" [format]='formatoptions'
          width=40>
          <ng-template #filterTemplate let-data>
            <ejs-daterangepicker format='dd-MM-yyyy' placeholder="Elija la fecha" [(ngModel)]="fechaVencimientoFilter"
              (change)="cambioFechaVencimiento($event)">
              <e-presets>
                <e-preset label="Esta semana" [start]='fecha.weekStart' [end]='fecha.weekEnd'></e-preset>
                <e-preset label="Este mes" [start]='fecha.monthStart' [end]='fecha.monthEnd'></e-preset>
                <e-preset label="Anterior mes" [start]='fecha.lastStart' [end]='fecha.lastEnd'></e-preset>
              </e-presets>
            </ejs-daterangepicker>
          </ng-template>
        </e-column> -->

        <e-column headerText="Importe" width=30>
          <ng-template #template let-data>
            {{data.importe | currency}}
          </ng-template>
        </e-column>
        <!-- <e-column  headerText="Cambio divisa" width=50>
          <ng-template #template let-data>
            {{data.tipoCambio | currency}}
          </ng-template>
        </e-column> -->
        <e-column field="moneda" headerText="Moneda" width=30>
        </e-column>
        <e-column field="tieneXML" [allowFiltering]='false' headerText="XML" allowSelection="false" width='18'>
          <ng-template #template let-data>
            <div *ngIf="!data.tieneXML" (click)="_modalUploadService.mostrarModal('xml',data)"
              class="rounded-icon rounded-info"><i class="mdi mdi-file-xml"></i> </div>
            <div *ngIf="data.tieneXML" class="rounded-icon rounded-success"><i class="fa fa-check-circle-o"></i> </div>
          </ng-template>
        </e-column>
        <e-column field="tienePDF" [allowFiltering]='false' headerText="PDF" allowSelection="false" width='18'>
          <ng-template #template let-data>
            <div *ngIf="!data.tienePDF" (click)="_modalUploadService.mostrarModal('pdf',data)"
              class="rounded-icon rounded-warning"><i class="mdi mdi-file-pdf"></i></div>
            <div *ngIf="data.tienePDF" class="rounded-icon rounded-success"><i class="fa fa-check-circle-o"></i></div>
          </ng-template>
        </e-column>
       
       

        <e-column *ngIf="tieneMovimientosAnexoRequeridos" headerText="Anexo" width='30'>
          <ng-template #template let-data>
            <button *ngIf="data.EV!='No Requerido'" 
            [ngClass]="{'btn-warning':data.EV ==='Requerido sin Evidencia',
                        'btn-success':data.EV ==='Requerido con Evidencia'}"  
                        class="btn   btn-xs" (click)="irAnexoFactura(data)">
              <i class="fa " 
              [ngClass]="{'fa-upload':data.EV ==='Requerido sin Evidencia',
                          'fa-file-o':data.EV ==='Requerido con Evidencia'}"  
              ></i>
            </button>
          </ng-template>
        </e-column>
        <e-column field="CR" headerText="" [allowFiltering]='false' [allowSorting]="true" allowSelection="false"
          width='100'>
          <!-- <ng-template #headerTemplate let-data>
            <div>
              <ejs-checkbox [checked]='filtroCheck' cssClass="e-custom" [(ngModel)]="filtroCheck"
                (change)="cambiarMovimientosFiltro()" label=""></ejs-checkbox> 
               
            </div>
          </ng-template> -->
          <ng-template #template let-data>
            <label class="label label-light-warning" *ngIf="data.EV=='Requerido sin Evidencia'">
              <i class="fa fa-chevron-left"></i>Es necesario un documento anexo
            </label>            
            <div *ngIf="data.mostrarAdvertencia" class="alert  alert-warning" style="margin: 0; line-height: 15px;">                      
                <i  class="fa fa-warning "></i>                
              <span style="font-size: 10px;margin-left: 2px;">El pedido {{data.pedido}} no se ha entregado por completo<br>para mayor información marca al 5521225600 Ext  109.</span>
            </div>            
            <ejs-checkbox (change)="cambio(data)" 
            *ngIf="data.EV!='Requerido sin Evidencia' && data.CR"
              [disabled]="!_usuarioService.usuario.PuedeGenerarContraRecibo || tieneRequerimientoOpinionCumplimiento " cssClass="e-primary"
              [(ngModel)]="data.solicitaContraRecibo" label="">
            </ejs-checkbox>
                        
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
    <hr>
    <app-totales [movimientos]="movimientos"></app-totales>

  </div>
</div>