
.comment-widgets .comment-row{
    padding: 0px;
}
.avisoCP{
    border-color: #ffb22b;
   background: white;
   margin:0;
}
#contenedorContraRecibo{
    width: 50%;
    float: right;
    margin-top: -70px;
    margin-bottom: 0px; 
    border: solid 1px #d9d6d4;
    border-radius: 5px;
}

#grid{
    margin-top: 10px;
}
 
#notificacionMoneda{
    margin: 0;
    font-size: 12px;
}
.e-custom{
    border-radius: 100%;
    background-color:rebeccapurple;
border-color: transparent;
color: #fff;
}


