<div class="container">
    <div class="control-section">
        <div class="control-wrapper">
            <div class="default-section">
                <div class='forum'>
                    <div>
                        <button (click)="agregar()"
                            class="right-side-toggle waves-effect waves-light btn-success btn btn-circle  pull-right m-l-10"><i
                                class="mdi mdi-message-plus text-white font-20"></i></button>
                    </div>
                    <div >
                        
                        <div class="table-responsive" *ngFor="let comunicado of comunicados">
                            <div class="post card">
                                <div class="card-body collapse show">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table>
                                                <td rowspan="2">
                                                    <img alt="user" class="profile-pic"
                                                        src="assets/images/logoLito.png">
                                                </td>
                                                <td>
                                                    <div class="authorname">Administración - CXP</div>
                                                    <div class="detailsAnswer">Fecha de registro:
                                                        {{comunicado.fecha_registro | date:'d MMMM, y, h:mm:ss a '}}
                                                    </div>
                                                    <div class="detailsAnswer" *ngIf="comunicado.fecha_actualizacion">
                                                        Última
                                                        actualización:
                                                        {{comunicado.fecha_actualizacion | date:'d MMMM, y, h:mm:ss a '}}
                                                    </div>
                                                </td>
                                            </table>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <div class="btn-group m-b-10 m-r-10" role="group">                                                    
                                                    <button type="button " class="btn btn-xs"
                                                        [ngClass]="{'btn-success': !comunicado.general, 'btn-outline-secondary': comunicado.general}"
                                                        (click)="cambiarDisponibilidad(comunicado,false)">
                                                        <i class="fa fa-user font-18"></i>Selecto</button>
                                                        <button type="button " class="btn btn-xs"
                                                        [ngClass]="{'btn-success': comunicado.general, 'btn-outline-secondary': !comunicado.general}"
                                                        (click)="cambiarDisponibilidad(comunicado,true)"><i
                                                            class="fa fa-users font-18"></i>Todos</button>
                                                </div>
                                                <div class="btn-group m-b-10 m-r-10" role="group">
                                                    <button type="button" class="btn  btn-xs"
                                                        [ngClass]="{'btn-success':comunicado.visible,'btn-outline-secondary':!comunicado.visible}"
                                                        (click)="cambiarVisible(comunicado)">
                                                        <i [ngClass]="{'fa-eye':comunicado.visible,'fa-eye-slash':!comunicado.visible}"
                                                            class="fa font-18"></i></button>
                                                </div>
                                                <div class="btn-group m-b-10 m-r-10" role="group">
                                                    <button type="button" class="btn btn-xs btn-outline-secondary "
                                                        (click)="editarComunicado(comunicado)"><i
                                                            class="fa fa-edit font-18"></i></button>
                                                    <button type="button" class="btn btn-xs btn-outline-secondary"
                                                        (click)="borrarComunicado(comunicado)"><i
                                                            class="fa fa-trash font-18"></i></button>
                                                </div>

                                                <!-- <div class="btn-group m-b-10 m-r-10" role="group">
                                                    <button type="button" class="btn waves-effect waves-light btn-outline-warning  btn-xs">
                                                        <i class="mdi mdi-email-alert font-16"></i></button>
                                                </div> -->
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <a href="javascript:void(0)" (click)="verDetalle(comunicado)" id="postTitle" class="card-text font-14">{{comunicado.titulo}}</a>
                                    
                                </div>


                                <div class="container-posting">
                                    <div class="posting"  [innerHtml]="comunicado.mensaje | safe:'html'">
                                    </div>
                                </div>
                                
                            </div>
                         
                        </div>
                        <div class="answer">



                            <!-- <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 150px;">
                                            <div >
                                                {{comunicado.titulo}}
                                            </div>
                                        </td>
                                        <td >
                                            <div class="card-body">
                                                <div class="btn-group m-b-10 m-r-10" role="group">
                                                    <button type="button " class="btn"
                                                        [ngClass]="{'btn-info': comunicado.general, 'btn-outline-secondary': !comunicado.general}"
                                                        (click)="cambiarDisponibilidad(comunicado)"><i
                                                            class="fa fa-users font-18"></i></button>
                                                    <button type="button " class="btn"
                                                        [ngClass]="{'btn-info': !comunicado.general, 'btn-outline-secondary': comunicado.general}"
                                                        (click)="cambiarDisponibilidad(comunicado)">
                                                        <i class="fa fa-user font-18"></i></button>
                                                </div>
                                                <div class="btn-group m-b-10 m-r-10" role="group">
                                                    <button type="button" class="btn  font-18"
                                                        [ngClass]="{'btn-success':comunicado.visible,'btn-outline-secondary':!comunicado.visible}"
                                                        (click)="cambiarVisible(comunicado)">
                                                        <i [ngClass]="{'fa-eye':comunicado.visible,'fa-eye-slash':!comunicado.visible}"
                                                            class="fa "></i></button>
                                                </div>
                                                <div class="btn-group m-b-10 m-r-10" role="group">

                                                    <button type="button" class="btn btn-outline-secondary font-18"
                                                        (click)="editarComunicado(comunicado)"><i
                                                            class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-outline-secondary font-18"
                                                        (click)="borrarComunicado(comunicado)"><i
                                                            class="mdi mdi-delete"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <img alt="user" class="profile-pic" src="assets/images/logoLito.png">
                                        </td>
                                        <td>
                                            <img alt="user" class="profile-pic" src="assets/images/logoLito.png">
                                            <div class="authorname">Administración - CXP</div>
                                            <div class="detailsAnswer">Fecha de registro:
                                                {{comunicado.fecha_registro | date:'d MMMM, y, h:mm:ss a '}}</div>
                                            <div class="detailsAnswer" *ngIf="comunicado.fecha_actualizacion">Última
                                                actualización:
                                                {{comunicado.fecha_actualizacion | date:'d MMMM, y, h:mm:ss a '}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->

                            <!-- <div class="posting" *ngIf="false" [innerHtml]="comunicado.mensaje | safe:'html'">
                            </div>
                            <div class="separator"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>