.icon-file{
line-height: 30px;
color: #ffffff;
width: 30px;
height: 30px;
display: inline-block;
font-weight: 600;
text-align: center;
border-radius: 100%;
font-size:17px;
}

.pdf{
    background: #ef5350;
border: 1px solid #ef5350;
-webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
-webkit-transition: 0.2s ease-in;
-o-transition: 0.2s ease-in;
transition: 0.2s ease-in;
}

.file{
    background-color: #745af2;

}

.excel{
    background-color: #06d79c;
}

.word{
    background-color: #398bf7;

}
.image{
    background-color: #ffb22b;
}