input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.btn-success.disabled,
.btn-success:disabled {
    cursor: not-allowed !important;
    background-color: gray !important;
    border: 1px solid gray;
}