<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cambiar password</h4>
            <h6 class="card-subtitle">Para brindarte mas seguridad usando la plataforma es necesesario que
                actualices tu password</h6>
            <form class="form p-t-20" autocomplete="off" [formGroup]="formUpdate" (ngSubmit)="actualizarPassword($event)">

                <div class="form-group">
                    <label for="pwd1">Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                        <input [type]="!hidePassword?'password':'text'" formControlName="password1"
                            onpaste="return false;" ondrop="return false;" class="form-control " id="password1"
                            name="password1"><br>
                        <div class="input-group-addon"><i (click)="hidePassword=!hidePassword"
                                [ngClass]=" !hidePassword?'fa fa-eye-slash':'fa fa-eye'"></i></div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd2">Confirmar Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                        <input [type]="!hidePassword?'password':'text'" formControlName="password2"
                            onpaste="return false;" ondrop="return false;" class="form-control" id="password2"
                            name="password2">
                        <div class="input-group-addon"><i (click)="hidePassword=!hidePassword"
                                [ngClass]=" !hidePassword?'fa fa-eye-slash':'fa fa-eye'"></i></div>
                    </div>

                </div>

                <div *ngIf="formUpdate.touched  && formUpdate.hasError('notMatch')">
                    <div class="alert alert-danger">Los passwords no coinciden </div>
                    
                </div>
                <div  *ngIf="formUpdate.get('password1').hasError('required') || formUpdate.get('password2').hasError('required')">
                    <div class="alert alert-danger">Los password son requeridos</div>                    
                </div>
                <div  *ngIf="formUpdate.get('password1').hasError('minlength') || formUpdate.get('password2').hasError('minlength')">
                    <div class="alert alert-danger">Los password deben de ser de 5 caracteres mínimo</div>                    
                </div>
                <div  *ngIf="formUpdate.get('password1').hasError('maxlength') || formUpdate.get('password2').hasError('maxlength')">
                    <div class="alert alert-danger">Los password deben de ser hasta 20 caracteres</div>                    
                </div>
                
                <button type="submit"  
                [disabled]="formUpdate.invalid || actualizandoPassword" class="btn btn-success  m-r-10">Guardar</button>                               
            </form>
        </div>
    </div>
</div>